/* Fonts */
/* Roboto */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v32-cyrillic_latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-cyrillic_latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v32-cyrillic_latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-cyrillic_latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v32-cyrillic_latin-900.woff2") format("woff2");
}
/* Play */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-cyrillic_latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_latin-700.woff2") format("woff2");
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.text-bold {
  text-transform: capitalize;
  font-weight: 600;
}

.text-brand-blue {
  color: var(--color-brand-blue);
}

:root {
  --color-primary-blue: #011c44;
  --color-primary-light: #ffffff;
  --color-brand-blue: #2b7fff;
  --color-brand-dark: #000000;
  --color-form-border: #747272;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--color-primary-blue);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  background-position: 0% 67%;
  cursor: default;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 100px;
    max-width: 1280px;
  }
}

.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-blue);
  border: 2px solid var(--color-brand-blue);
  border-radius: 32px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 600;
  margin-bottom: 14px;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
.button:hover {
  background-color: transparent;
}

.hero-section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 8px;
  padding: 12.5px 24px;
  font-size: 16px;
}
.hero-section__button:hover {
  color: var(--color-brand-blue);
}
@media screen and (min-width: 1280px) {
  .hero-section__button {
    display: block;
    margin: 0 0 14px 0;
    padding: 16px 32px;
    font-size: 18px;
  }
}

.carousel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-brand-dark);
  border: 1px solid var(--color-brand-dark);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 0.2s, background-color 0.2s;
  transition: fill 0.2s, background-color 0.2s;
}

.carousel-button:hover {
  fill: var(--color-primary-light);
  background-color: var(--color-brand-blue);
}

.carousel-button.next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.link {
  color: var(--color-primary-blue);
  cursor: pointer;
  font-family: "Roboto";
  line-height: 1.2;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.link:hover {
  color: var(--color-brand-blue);
  /* font-weight: 700; */
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  fill: var(--color-primary-blue);
}

.social__item {
  fill: var(--color-primary-blue);
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.social__item:hover {
  fill: var(--color-brand-blue);
}

.star-top {
  display: none;
}
@media screen and (min-width: 1280px) {
  .star-top {
    display: block;
    position: absolute;
    top: 32px;
    right: -140px;
    -webkit-animation: spin;
            animation: spin;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}
.star-middle {
  display: none;
}
@media screen and (min-width: 1280px) {
  .star-middle {
    display: block;
    position: absolute;
    top: 250px;
    right: -100px;
    -webkit-animation: spin;
            animation: spin;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}
.star-bot {
  position: absolute;
  top: 25px;
  right: 15px;
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media screen and (min-width: 1280px) {
  .star-bot {
    display: block;
    position: absolute;
    top: 350px;
    right: 205px;
  }
}

.privilege-card__list {
  display: block;
}
@media screen and (min-width: 1280px) {
  .privilege-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 56px;
  }
}
.privilege-card__item {
  margin-bottom: 16px;
}
@media screen and (min-width: 1280px) {
  .privilege-card__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: calc((100% - 40px) / 3);
        flex-basis: calc((100% - 40px) / 3);
    margin-bottom: 0;
  }
}
.privilege-card__control {
  padding: 24px 32px;
  border: 1px solid black;
  border-radius: 32px;
  -webkit-box-shadow: 1px 8px 5px 1px rgba(168, 198, 245, 0.3803921569);
          box-shadow: 1px 8px 5px 1px rgba(168, 198, 245, 0.3803921569);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.privilege-card__img-link {
  display: block;
  margin: 0 auto 20px;
  width: 48px;
  height: 48px;
  fill: var(--color-brand-blue);
}
@media screen and (min-width: 1280px) {
  .privilege-card__img-link {
    margin: 0 auto 35px;
  }
}
.privilege-card__text {
  color: var(--color-brand-dark);
  text-align: center;
  margin-bottom: 0;
}

.procedures-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.procedures-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 40px) / 3);
      flex-basis: calc((100% - 40px) / 3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.procedures-card__control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 24px;
  border-radius: 4px 125px 4px 125px;
  height: 344px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(55.21%, rgba(10, 44, 213, 0)), color-stop(72.92%, rgba(14, 84, 225, 0.71)), to(var(--color-primary-blue)));
  background-image: linear-gradient(180deg, rgba(10, 44, 213, 0) 55.21%, rgba(14, 84, 225, 0.71) 72.92%, var(--color-primary-blue) 100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.procedures-card__control:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.procedures-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 4px 120px 4px 120px;
}
.procedures-card__title {
  color: var(--color-primary-light);
  font-size: 22px;
  line-height: 1.2;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  text-align: center;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: var(--color-form-border);
}
.form-terms__link {
  color: var(--color-form-border);
  text-underline-offset: 3px;
  text-decoration: underline;
}

.section-about {
  margin-bottom: 104px;
}
@media screen and (min-width: 1280px) {
  .section-about {
    margin-bottom: 176px;
  }
}
.section-about__container {
  display: block;
}
@media screen and (min-width: 1280px) {
  .section-about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
}
.section-about__text {
  max-width: 320px;
}
@media screen and (min-width: 1280px) {
  .section-about__text {
    max-width: 600px;
  }
}
.section-about__title.section__title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 500;
  font-family: "Roboto";
}
@media screen and (min-width: 1280px) {
  .section-about__title.section__title {
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 700;
    font-family: "Play";
  }
}
.section-about__title--blue-color {
  color: var(--color-brand-blue);
}
@media screen and (min-width: 1280px) {
  .section-about__title--blue-color {
    font-weight: 700;
  }
}
.section-about__text-description {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.section-about__text-description:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1280px) {
  .section-about__text-description {
    font-size: 22px;
    line-height: 1.7;
  }
}
.section-about__img-container {
  position: relative;
}
@media screen and (min-width: 1280px) {
  .section-about__img-container {
    position: relative;
  }
}
.section-about__img-item {
  display: none;
}
@media screen and (min-width: 1280px) {
  .section-about__img-item {
    /* border: 1px solid black; */
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: calc(60% + 80px);
    display: block;
  }
  .section-about__img-item:first-child {
    border-radius: 50%;
    top: 0;
    left: 15%;
    display: block;
  }
  .section-about__img-item:last-child {
    position: relative;
    top: 85%;
    left: 60%;
    display: block;
  }
}

.section-privilege__title {
  margin: 0 auto;
}
.section-privilege__container {
  display: block;
}
@media screen and (min-width: 1280px) {
  .section-privilege__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer {
  background-color: #011c44;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 56px 0;
  position: relative;
}
footer::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
  background-image: url(../img/cosmetic.png);
  width: 247px;
  height: 152px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__nav, .footer__address {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 186px;
}
.footer__logo, .footer__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer__menu li {
  margin-bottom: 16px;
}
.footer__menu li:last-child {
  margin-bottom: 0;
}
.footer__address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 1.2;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer__address-link:hover {
  color: var(--color-brand-blue);
}
.footer__address-list, .footer__terms-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer__address-list li {
  margin-bottom: 16px;
}
.footer__address-list li:last-child {
  margin-bottom: 0;
}
.footer__social-icons {
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__social-item {
  fill: var(--color-primary-light);
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
.footer__social-item:hover {
  fill: var(--color-brand-blue);
}
.footer__terms-link {
  font-size: 16px;
  color: var(--color-primary-light);
}
.footer__terms-copyright {
  color: #747272;
  font-size: 13px;
  line-height: 1.2;
  padding-top: 16px;
}

.form__field {
  margin-bottom: 32px;
  position: relative;
}
.form__label {
  position: absolute;
  left: 42px;
  top: 16px;
}
.form__input {
  color: var(--color-primary-light);
  padding: 18px 32px;
  width: 100%;
  font-size: 13px;
  line-height: 1.17;
  border: 2px solid var(--color-form-border);
  border-radius: 32px;
  background-color: transparent;
}
.form__input:focus {
  background-color: var(--color-form-border);
  outline: none;
}
.form__input::-webkit-input-placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 1.17;
}
.form__input::-moz-placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 1.17;
}
.form__input:-ms-input-placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 1.17;
}
.form__input::-ms-input-placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 1.17;
}
.form__input::placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 1.17;
}
.form__button {
  margin: 0 auto 24px;
  display: block;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px;
}
@media screen and (min-width: 1280px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 42px 100px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
}
.header__burger {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  fill: var(--color-primary-light);
}
@media screen and (min-width: 1280px) {
  .header__burger {
    display: none;
  }
}

.social__nav {
  display: none;
}
@media screen and (min-width: 1280px) {
  .social__nav {
    display: block;
  }
}

.hero-section {
  padding: 70px 0 35px;
  background-image: url(../img/hero-section-bg.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}
@media screen and (min-width: 1280px) {
  .hero-section {
    padding: 126px 0;
  }
}
.hero-section__container {
  max-width: 410px;
  padding: 25px 0;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .hero-section__container {
    padding: 125px 0 0 105px;
    margin: 0;
  }
}
.hero-section__text-name {
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .hero-section__text-name {
    text-align: start;
    margin-bottom: 16px;
    font-size: 18px;
  }
}
.hero-section__title {
  text-transform: capitalize;
  text-align: center;
  color: var(--color-brand-blue);
  font-family: "Play";
  font-weight: 700;
  line-height: 0.85;
  font-size: 54px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .hero-section__title {
    line-height: 0.8;
    font-size: 140px;
  }
}
.hero-section__text-consultation {
  color: #4a4a4a;
  font-family: "Roboto";
  font-size: 11px;
  line-height: 1.65;
  text-align: center;
  max-width: 190px;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .hero-section__text-consultation {
    font-size: 12px;
    line-height: 1.5;
    max-width: 220px;
    margin: 0;
  }
}

.section-location__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-location__map {
  border: none;
  border-radius: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.section-location__form {
  width: 100%;
  height: 100%;
  max-width: 425px;
  max-height: 480px;
  padding: 48px 74px;
  background-color: var(--color-primary-blue);
  background-image: url(../img/modal-bg.png);
  border-radius: 32px;
  overflow-y: hidden;
}
.section-location__form-title {
  text-align: center;
  color: var(--color-primary-light);
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 600;
  line-height: 1.17;
  margin-bottom: 32px;
}

.section-location.section {
  padding-bottom: 94px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__btn-close {
  position: absolute;
  top: 16px;
  right: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(110, 130, 155, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 765px;
  max-height: 680px;
  padding: 42px 144px;
  background-color: var(--color-primary-blue);
  background-image: url(../img/modal-bg.png);
  border-radius: 48px;
  overflow-y: auto;
}
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: transparent;
  border: none;
  fill: white;
  cursor: pointer;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
.modal-btn-close:hover {
  fill: black;
}
.modal__title {
  font-family: "Play";
  font-size: 64px;
  color: var(--color-primary-light);
  text-align: center;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 8px;
}
.modal__text {
  text-align: center;
  color: var(--color-primary-light);
  margin-bottom: 32px;
}

.form__field.modal-form__field {
  margin-bottom: 24px;
}

.section-procedures__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  padding: 20px 0;
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 48px 0;
  }
}
.section__title {
  color: var(--color-primary-blue);
  font-family: "Roboto";
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 24px;
}
.section__title--centered {
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 64px;
    line-height: 1.2;
    font-family: "Play";
    margin-bottom: 48px;
  }
}

.section-location__form-field {
  margin-bottom: 16px;
  position: relative;
}
.section-location__form-button {
  margin: 0 auto 8px;
  display: block;
}/*# sourceMappingURL=main.css.map */