:root {
  --color-primary-blue: #011c44;
  --color-primary-light: #ffffff;
  --color-brand-blue: #2b7fff;
  --color-brand-dark: #000000;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-blue);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: -400px 400px; */
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header */
.header-container {
  padding: 42px 100px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.logo-link {
  color: var(--color-brand-blue);
  font-family: 'Play';
  font-weight: 700;
  font-size: 22px;
  line-height: 0.95;
  text-transform: capitalize;
  cursor: pointer;
}

.navigation-link {
  color: var(--color-primary-blue);
  cursor: pointer;
  font-family: 'Roboto';
  line-height: 1.2;
}

.navigation-link:hover {
  color: var(--color-brand-blue);
  /* font-weight: 700; */
}

.header-menu-icons {
  display: flex;
  gap: 32px;
  fill: var(--color-primary-blue);
}

.header-menu-icons .menu-icon:hover {
  fill: var(--color-brand-blue);
}

/* Main */

/* Hero section */
.hero-section {
  padding: 126px 0;
  background-image: url(../img/hero-section-bg.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

.hero-text {
  margin-bottom: 16px;
}

.hero-title {
  text-transform: capitalize;
  color: var(--color-brand-blue);
  font-family: 'Play';
  font-weight: 700;
  line-height: 0.8;
  font-size: 140px;
  margin-bottom: 40px;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-blue);
  border: 2px solid var(--color-brand-blue);
  border-radius: 32px;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 600;
  margin-bottom: 14px;
}

.button:hover {
  color: var(--color-primary-blue);
  background-color: transparent;
}

.consultation-text {
  color: #4a4a4a;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0px;
}

/* section-about_us */
.about_us-section {
  margin-bottom: 176px;
}

.section-title {
  color: var(--color-primary-blue);
  font-family: 'Play';
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 48px;
}

.section-title span {
  color: var(--color-brand-blue);
}

.about-us-title {
  padding-top: 40px;
  margin-bottom: 40px;
}

.about_us-container {
  display: flex;
  gap: 40px;
}

.about_us-text {
  font-size: 22px;
  line-height: 1.7;
  margin-bottom: 40px;
}

.about_us-text span {
  text-transform: capitalize;
  font-weight: 600;
}

.about_us-img {
  /* border: 1px solid black; */
  border-radius: 50%;
}

/* Section choose_us */
.section-title.choose_us-centered {
  text-align: center;
  width: 450px;
  height: 150px;
  margin: 0 auto 50px;
}

.choose_us-container {
  display: flex;
}

.choose_us-list {
  display: flex;
  justify-content: space-between;
}

.choose_us-item {
  flex-basis: calc((100% - 40px) / 3);
}

.choose_us-card {
  padding: 24px 32px;
  border: 1px solid black;
  border-radius: 32px;
  height: 180px;
  display: flex;
}

.choose_us-text {
  color: var(--color-brand-dark);
  text-align: center;
  padding-top: 100px;
  display: flex;
  align-items: center;
}

/* Section Procedures */
.section-title.pocedures-centered {
  text-align: center;
}

.procedures-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.procedures-item {
  display: flex;
  flex-basis: calc((100% - 40px) / 3);
  justify-content: center;
}

.procedures-card {
  padding: 24px;
  border: 1px solid black;
  border-radius: 4px 120px 4px 120px;
  height: 455px;
  width: 345px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    180deg,
    rgba(10, 44, 213, 0) 55.21%,
    rgba(14, 84, 225, 0.71) 72.92%,
    var(--color-primary-blue) 100%
  );
}

.procedures-text {
  color: var(--color-primary-light);
  font-size: 22px;
  line-height: 1.2;
  display: flex;
  align-items: end;
}

/* Carousel button */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-brand-dark);
  border: 1px solid var(--color-brand-dark);
  border-radius: 50%;
  cursor: pointer;
}

/* Section Location */
.section-title.location-title-centered {
  text-align: center;
}

.location-text {
  color: var(--color-primary-light);
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
}

.location-text span {
  color: var(--color-brand-blue);
}

.text-confidentiality {
  color: #747272;
  font-size: 12px;
  line-height: 1.5;
}

.link-confidentiality {
  text-decoration: underline;
  color: #747272;
  font-size: 12px;
  line-height: 1.5;
}

/* Address */

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 1.2;
}

.address-link:hover {
  color: var(--color-brand-blue);
}

.address-copyright {
  color: #747272;
  font-size: 13px;
  line-height: 1.2;
}

/* footer color */

footer {
  background-color: #011c44;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-menu-icons {
  display: flex;
  fill: var(--color-primary-light);
}

.footer-menu-icons .menu-icon:hover {
  fill: var(--color-brand-blue);
}
