.form-field {
  margin-bottom: 32px;
  position: relative;
}

.form-label {
  position: absolute;
  left: 42px;
  top: 16px;
}

.form-input {
  color: var(--color-primary-light);
  padding: 18px 32px;
  width: 100%;
  font-size: 13px;
  line-height: 1.17;
  border: 2px solid var(--color-form-border);
  border-radius: 32px;
  background-color: transparent;
}

.form-input:focus {
  background-color: var(--color-form-border);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 1.17;
}

.form-button {
  margin: 0 auto 24px;
  display: block;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: var(--color-form-border);
}

.form-terms a {
  color: var(--color-form-border);
  text-underline-offset: 3px;
  text-decoration: underline;
}
