.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 42px 100px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.logo-link {
  color: var(--color-brand-blue);
  font-family: 'Play';
  font-weight: 700;
  font-size: 22px;
  line-height: 0.95;
  text-transform: capitalize;
  cursor: pointer;
}

.navigation-link {
  color: var(--color-primary-blue);
  cursor: pointer;
  font-family: 'Roboto';
  line-height: 1.2;
  transition: color 0.2s;
}

.navigation-link:hover {
  color: var(--color-brand-blue);
  /* font-weight: 700; */
}

.header-menu-icons {
  display: flex;
  gap: 32px;
  fill: var(--color-primary-blue);
}

.header-menu-icons .menu-icon:hover {
  fill: var(--color-brand-blue);
  transition: fill 0.2s;
}
