.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  &__button {
    width: 11px;
    height: 11px;
    padding: 0;
    background-color: var(--color-form-border);
    border-radius: 50%;

    &--active {
      background-color: var(--color-brand-blue);
    }
  }
}
