.privilege-card {
  &__list {
    display: block;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
      gap: 56px;
    }
  }

  &__item {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
      flex-basis: calc((100% - 40px) / 3);
      margin-bottom: 0;
    }
  }

  &__control {
    padding: 24px 32px;
    border: 1px solid black;
    border-radius: 32px;
    box-shadow: 1px 8px 5px 1px #a8c6f561;
    height: fit-content;
  }

  &__img-link {
    display: block;
    margin: 0 auto 20px;
    width: 48px;
    height: 48px;
    fill: var(--color-brand-blue);

    @media screen and (min-width: $bp-desktop) {
      margin: 0 auto 35px;
    }
  }

  &__text {
    color: var(--color-brand-dark);
    text-align: center;
    margin-bottom: 0;
  }
}
