.star {
  &-top {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      top: 32px;
      right: -140px;
      animation: spin;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  &-middle {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      top: 250px;
      right: -100px;
      animation: spin;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  &-bot {
    position: absolute;
    top: 25px;
    right: 15px;
    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      top: 350px;
      right: 205px;
    }
  }
}
