footer {
  background-color: #011c44;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 56px 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    background-image: url(../img/cosmetic.png);
    width: 247px;
    height: 152px;
  }
}

.footer {
  &__container {
    display: flex;
    gap: 20px;
  }

  &__nav,
  &__address {
    flex-basis: 50%;
    display: flex;
    gap: 186px;
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__menu li {
    margin-bottom: 16px;
  }

  &__menu li:last-child {
    margin-bottom: 0;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    line-height: 1.2;
    transition: color 0.2s;

    &:hover {
      color: var(--color-brand-blue);
    }
  }

  &__address-list,
  &__terms-info {
    flex-grow: 1;
  }

  &__address-list li {
    margin-bottom: 16px;
  }

  &__address-list li:last-child {
    margin-bottom: 0;
  }

  &__social-icons {
    padding-top: 18px;
    display: flex;
    justify-content: space-around;
  }

  &__social-item {
    fill: var(--color-primary-light);
    transition: fill 0.2s;
  }

  &__social-item:hover {
    fill: var(--color-brand-blue);
  }

  &__terms-link {
    font-size: 16px;
    color: var(--color-primary-light);
  }

  &__terms-copyright {
    color: #747272;
    font-size: 13px;
    line-height: 1.2;
    padding-top: 16px;
  }
}
