.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 42px 100px;
  backdrop-filter: blur(10px);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
  }

  &__menu {
    display: flex;
    gap: 56px;
  }
}
